@font-face{font-family:'iransans';
    src:url('fonts/IRANSansWeb.ttf') format('truetype'), url('fonts/IRANSansWeb.woff') format('woff');
}
    body {
        font-family: 'iransans' !important;
        direction: rtl;

        margin-left: 130px;
        margin-top: 50px;
        -webkit-transform: translate3D(0, 0, 0);
    }

.top{
    margin: 0 auto;
    width: 300px;
    margin-top: 50px;
    padding-left: 0;
}
.top .logo img{
    margin-left: 21%;
}
.top .description h2{
    font-size: 13px;
    letter-spacing: 2px;
    padding: 10px;
    padding-left: 30px;
}




.main-header .navbar ul {
    list-style: none;
margin-right: 30px;
}

.main-header .navbar ul li {
	text-transform: uppercase;
	display: inline-block;
	font-size: 13px;
	letter-spacing: .1em;
	padding: 10px 0;
	font-weight: 400;
	position: relative;
    color: #000; 
  
}
.main-header .navbar ul li a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    transition: .3s ease-in;
}
.main-header .navbar ul li a:hover {
color: #007aff;
}
.main-header .navbar ul li::after {
	display: inline-block;
	content: '|';
	padding: 0 12px;
	font-weight: 400;
	color: #999;
}

.main-header .navbar ul li:last-child::after {
	content: " ";

}


.social a{
    color: #4a4a4a;
    font-size: 20px;
    transition: .3s ease-in;
}
.social a:hover{
    color: #007aff;
}














#start {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    font-size: 75px;
    background:-webkit-linear-gradient(#00aff9,#0086c3);
    background: linear-gradient(#00aff9,#0086c3);
    color: #342c2a; 
	 -webkit-animation: slide 1.5s ease-in-out forwards;
	        animation: slide 1.5s ease-in-out forwards;
  
}

#slide1, #slide2, #slide3, #slide4 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    background:-webkit-linear-gradient(#00aff9,#0086c3);
    background: linear-gradient(#00aff9,#0086c3);
    color: #342c2a; 
    font-size: 75px;
}

.main-content img {
    text-align: center;
    margin: 0;
    height: 300px;
    width: 500px;
}

.wrapper {
  	width: 500px;
	  margin: 0 auto;	
}

.main-content {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 500px;
	  height: 300px;
	  margin: 0;
	  padding: 0;
    background: #282929;
   
    border: 1px solid #fff;
}

.navigation {
	  position: absolute;
	  bottom: 0px;
	  left: -140px;
  	margin: 0;

	  padding: 0;
}
li{
  color: transparent;
}
.btn {
    float: left;
    margin: 6px;
    width: 120px;
    height: 63px;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    -webkit-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
}

.btn a img {
    display: block; 
    text-decoration: none;
    height: 63px;
    width: 120px;
    letter-spacing: 2px;
    font-size: 12px;
    margin-top: -7px;
    margin-right: -13px;
}

.btn:hover {
    -webkit-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
     background: #00aff9;

}


#slide1:target, #slide2:target, #slide3:target, #slide4:target {
	font-size: 75px; opacity: 1;
}